@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Sleek Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #4b5563;
}
.dark ::-webkit-scrollbar-corner {
  background: transparent;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
